<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
	
	<!-- 扫描task包 -->
	<context:component-scan base-package="com.xzb.task"/>
	
	<!-- 定时任务轮询比如任务自服务器启动就开始运行-->
	<!-- https://blog.csdn.net/javaxiaibai0414/article/details/91551712-->
	<task:scheduled-tasks><!-- ref：注入引用（BusinessTask本包类对象） -->
		<task:scheduled ref="BusinessTask" method="synNumber" cron="10 */5 * * * ?"/><!-- 每5分10秒执行一次 -->
		<task:scheduled ref="BusinessTask" method="synStar" cron="0 */5 * * * ?"/><!-- 每5分执行一次 -->
	</task:scheduled-tasks>
</beans>
